a{
  text-decoration:none;
}

a:hover{
  text-decoration: none;
}

.an-link{
background-image: linear-gradient(to top, black 50%, transparent 50%);
background-size: 100% 200%;
background-position: top;
/* transition: background-position 0.5s ease-in-out; /** I've changed the time for demo purposes **/
color: black;
transition: 0.3s;
}

.an-link:hover{
  background-position: bottom;
  color:white;
  cursor: pointer;
}

header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  z-index:20;
}

#intest{
  font-size: 0.9rem;
}
#intro{
  font-size: 13vw;
  line-height: 13.5vw;
  font-family: 'Manrope', sans-serif;
}
#talk{
  font-size: 3vw;
  line-height: 5vw;
  font-family: 'Manrope', sans-serif;
}
#shy{
  background-color: black;
  color:white;
}

.t-proj {
  font-size: 5.5vw;

  font-family: 'Manrope', sans-serif;
  cursor:pointer;

}


#foot{
  text-align:center;
  font-size: 2vw;
  font-family: 'Manrope', sans-serif;
}

#insta{
  cursor:pointer;
  color:black;
  text-decoration: none;
}
#git{
  cursor:pointer;
  color:black;
  text-decoration: none;
}
#telegram{
  cursor:pointer;
  color:black;
  text-decoration: none;
}
#twitter{
  cursor:pointer;
  color:black;
  text-decoration: none;
}
#vimeo{
  cursor:pointer;
  color:black;
  text-decoration: none;
}

#mail{
  cursor:pointer;
  color:black;
  text-decoration: none;
}



.b-insta{
  background-color: #E65737;
  transition:0.3s;
}
.b-git{
  background-color: #72348B;
  transition:0.3s;
}
.b-telegram{
  background-color: #7CB2F6;
  transition:0.3s;
}
.b-twitter{
  background-color: #4C9FEB;
  transition:0.3s;
}

.b-vimeo{
  background-color: #59B8E6;
  transition:0.3s;
}

.b-mail{
  background-color: #C55445;
  transition:0.3s;
}
