

#intest{
  font-size: 0.9rem;
}
#intro{
  font-size: 13vw;
  line-height: 13.5vw;
  font-family: 'Manrope', sans-serif;
}
#talk{
  font-size: 5vw;
  line-height: 7vw;
  font-family: 'Manrope', sans-serif;
}
#shy{
  background-color: black;
  color:white;
}
#foot{
  text-align:center;
  font-size: 2vw;
  font-family: 'Manrope', sans-serif;
}
